/* font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif; */


/* global-formatting */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121219;
}

.big-cover {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.column-row {
    flex-direction: column;
}

/* HEADER-FORMATTING */
.header {
    background: linear-gradient(to bottom, black 0.5%, rgba(18, 21, 27, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #5773ac;
    transition: all 1s;
}

.logo a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.5s;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    flex: 0 0 20%;
    max-width: 20%;
    text-decoration: none;
    font-size: 16px;
    color: #8ca4d4;
    text-align: center;
    transition: all 0.5s;
}

.menu a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.3s;
}

.auth {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.auth button {
    display: block;
    border: 1px solid #8ca4d4;
    border-radius: 25%;
    color: #8ca4d4;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s;
}

.auth button:hover {
    color: rgb(200, 130, 70);
    border: 1px solid  rgb(200, 130, 70);
    cursor: pointer;
    transition: all 0.5s;
}

.auth button:focus {
    outline: none;
    background:  rgba(255, 255, 190, 1);
    color: rgb(200, 130, 70);
    border: 1px solid rgb(200, 130, 70);
    box-shadow: 0px 0px 15px 7px rgba(255, 230, 140, 0.6);
    transition: all 0.3s;
}

.mobile-menu {
    display: none;
}

.mobile-auth {
    display: none;
}

/* MAIN-FORMATTING */
/* cover */
.cover {
    background-color: rgba(0, 0, 0, 0.7);
}

.cover-container {
    display: flex;
    position: relative;
    color: white;
}

.cover-container-circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background-image: url(images/img-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 100px 30px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background-color 1.5s, box-shadow 1.5s, background-size 1.5s;

}

.cover-container button {
    border: none;
}

.cover-container button:hover {
    background-color: rgba(255, 255, 190, 1);
    box-shadow: 0px 0px 100px 30px rgba(255, 220, 190, 0.6);
    transition: all 1.5s;
}

.cover-container button:focus{
    outline: none;
    background-size: 75%;
    background-color: rgba(255, 255, 190, 1);
    box-shadow: 0px 0px 100px 60px rgba(255, 230, 140, 0.7);
    transition: all 0.5s;
}

.cover-title {
    display: flex;
    align-items: flex-start;
    font-size: 36px;
    padding-left: 0;
}

.cover-description {
    display:flex;
    align-items: flex-end;
    padding: 10px;
    font-style: italic;
    padding-right: 0;
}

/* about */
.about {
    border-top: 15px solid rgba(255, 255, 255, 0.8) ;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-description {
    color: white;
    margin-top: 50px;
}

.about-description p {
    padding-bottom: 15px;
    line-height: 24px;
}

.about-description h2 {
    font-family: 'Cinzel', serif;
    font-size: 32px;
    margin-bottom: 25px;
}

.about-image img {
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

.books-btn-container {
    display: flex;
    width: calc(100% + 30px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: -15px;
    margin-right: -15px;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
}

[class*="-btn-container"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 30px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: -15px;
    margin-right: -15px;
    border-top-right-radius: 28%;
    border-bottom-left-radius: 31%;
    z-index: 1;
}

[class*="to-"] {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-decoration: none;
    color: #8ca4d4;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 33px;
    text-align: center;
    border-left: 3px solid #8ca4d4;
    border-right: 3px solid #8ca4d4;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    transition: all 1s;
}

[class*="to-"]:hover {
    background-color: rgba(255, 255, 190, 1);
    color: rgb(200, 130, 70);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    box-shadow: 0px 0px 30px 15px rgba(255, 230, 140, 0.6);
    transition: all 0.5s;
}


/* FOOTER-FORMATTING */
footer {
    background: linear-gradient(to top, black 0.5%,  rgba(18, 21, 27, 0.5));
    display: flex;
    height: 100px;
    margin-top: 25px;
}

.footer-container .row {
    height: 100%;
    align-items: center;
}

.place {
    color: #8ca4d4;
    font-size: 18px;
    line-height: 20px;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

.contacts a {
    text-decoration: none;
    color: #8ca4d4;
    transition: all 0.5s;
}

.contacts a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.3s;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links a {
    flex: 0 0 15%;
    max-width: 15%;
}

.social-icon {
    background-color: #8ca4d4;
    border-radius: 20%;
    transition: all 0.5s;
}

.social-icon:hover {
    background-color: rgb(200, 130, 70);
    box-shadow: 0px 0px 10px 5px rgba(255, 220, 190, 0.6);
    transition: all 0.5s;
}


/* BOOKS FORMATTING */
.book-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
}

.book-title {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.book-description-text {
    line-height: 24px;
}

.book-btn-cont {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.book-img-1 {
    background-image: url(images/Silmarillion.jpg);
}

.book-img-2 {
    background-image: url(images/hobbit.jpg);
}

.book-img-3 {
    background-image: url(images/fellowship.jpg);
}

.book-img-4 {
    background-image: url(images/towers.jpg);
}

.book-img-5 {
    background-image: url(images/king.jpg);
}

.book-img-6 {
    background-image: url(images/witcher.jpg);
}

.book-img-6-2 {
    background-image: url(images/Sword_of_Destiny.jpg);
}

.book-img-6-3 {
    background-image: url(images/Blood_of_Elves.jpg);
}

.book-img-6-4 {
    background-image: url(images/Time_of_Contempt.jpg);
}

.book-img-6-5 {
    background-image: url(images/Baptism_of_Fire.jpg);
}

.book-img-6-6 {
    background-image: url(images/The_Tower_of_the_Swallow.jpg);
}

.book-img-6-7 {
    background-image: url(images/The_Lady_of_the_Lake.jpg);
}

.book-img-7 {
    background-image: url(images/AngelsAndDemons.jpg);
}

.book-img-8 {
    background-image: url(images/DaVinciCode.jpg);
}

.book-img-9 {
    background-image: url(images/LostSymbol.jpg);
}

.book-img-10 {
    background-image: url(images/Inferno-cover.jpg);
}

.book-img-11 {
    background-image: url(images/Origin.jpg);
}

.book-img-author-1 {
    background-image: url(images/jt.jpg);
}

.book-img-author-2 {
    background-image: url(images/as.jpg);
}

.book-img-author-3 {
    background-image: url(images/db.jpg);
}




/* MODALS */
/* cover-modal */
.cover-modal {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.cover-modal-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.modal-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    max-width: 50%;
    border-right: 15px solid  rgba(255, 255, 255, 0.6);
    border-left: 15px solid  rgba(255, 255, 255, 0.6);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 50%;
    padding: 25px;
    color: white;
}

.modal-title {
    font-family: 'Cinzel', serif;
    font-size: 24px;
    margin-bottom: 15px;
}

.modal-text {
    margin-bottom: 15px;
    text-align: center;
}

.to-register-btn {
    background-color: transparent;
    border-top: none;
    border-bottom: none;
    width: 130px;
    margin-bottom: 15px;
    cursor: default;
}

.to-close-btn {
    opacity: 0.15;
    width: 20px;
    height: 20px;
    position: relative;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-btn:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-btn span {
    display: block;
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 3px;
    border-radius: 50%;
    background-color: #8ca4d4;
}

.to-close-btn span:nth-child(1) {
    transform: rotate(225deg);
}

.to-close-btn span:nth-child(2) {
    transform: rotate(-225deg);
}


/* REGISTER-MODAL */
.register-modal {
    position: absolute;
    top: 60px;
    display: flex;
    visibility: hidden;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 110;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.register-modal .modal-title {
    font-size: 18px;
    text-align: center;
}

.register-modal-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.to-close-register-btn {
    opacity: 0.15;
    width: 20px;
    height: 20px;
    position: relative;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-register-btn:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-register-btn span {
    display: block;
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 3px;
    border-radius: 50%;
    background-color: #8ca4d4;
}

.to-close-register-btn span:nth-child(1) {
    transform: rotate(225deg);
}

.to-close-register-btn span:nth-child(2) {
    transform: rotate(-225deg);
}

.register-modal input {
    margin-bottom: 10px;
    height: 40px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #5773ac;
}

.register-modal input:focus {
    outline: none;
}

/* SIGN-IN-MODAL */
.sign-in-modal {
    position: absolute;
    top: 60px;
    display: flex;
    visibility: hidden;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 110;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.sign-in-modal .modal-title {
    font-size: 18px;
    text-align: center;
}

.sign-in-modal-active {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.to-sign-in-btn {
    margin-bottom: 15px;
}

.to-close-sign-in-btn {
    opacity: 0.15;
    width: 20px;
    height: 20px;
    position: relative;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-sign-in-btn:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
    border-left: 2px solid #8ca4d4;
    border-right: 2px solid #8ca4d4;
}

.to-close-sign-in-btn span {
    display: block;
    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 3px;
    border-radius: 50%;
    background-color: #8ca4d4;
}

.to-close-sign-in-btn span:nth-child(1) {
    transform: rotate(225deg);
}

.to-close-sign-in-btn span:nth-child(2) {
    transform: rotate(-225deg);
}

.sign-in-modal input {
    margin-bottom: 10px;
    height: 40px;
    font-family: 'Cinzel', serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: none;
    border-radius: 25%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #5773ac;
}

.sign-in-modal input:focus {
    outline: none;
}



/* ADAPTIVE */

/* tablet */
@media (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .container {
        max-width: 720px;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .logo a {
        font-size: 24px;
    }

    .auth button {
        width: 65px;
        height: 40px;
        font-size: 12px;
    }

    .cover-container-circle {
        width: 200px;
        height: 200px;    
    }

    .cover-container {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 200px;
    }

    .cover-container p {
        text-align: right;
        padding: 10px 10px 10px 100px;
        border-right: 15px solid  rgba(255, 255, 255, 0.6);
        border-bottom: 15px solid  rgba(255, 255, 255, 0.6);
        border-top-right-radius: 10%;
        border-bottom-left-radius: 50%;
    }

    .cover-container h2 {
        text-align: start;
        padding: 10px 70px 10px 10px;
        border-left: 15px solid  rgba(255, 255, 255, 0.6);
        border-top: 15px solid  rgba(255, 255, 255, 0.6);
        border-bottom-left-radius: 10%;
        border-top-right-radius: 50%;
    }

    .about-image img {
        margin: auto;
        display: none;
    }

    .about-image {
        background-image: url(images/vintage-keyboard-typewriter-old.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
        border-bottom: 15px solid rgba(200, 200, 255, 1);
    }

    .about-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15px;
        border-bottom: 15px solid rgba(200, 200, 255, 1);
        border-right: 15px solid rgba(200, 200, 255, 1);
        border-top-right-radius: 10%;
    }

    .a-d-second {
        margin-top: 0;
        border-right: none;
        border-bottom: none;
        border-top: 15px solid rgba(200, 200, 255, 1);
        border-left: 15px solid rgba(200, 200, 255, 1);
        border-top-right-radius: 0;
        border-bottom-left-radius: 10%;
    }

    .a-i-second {
        border-bottom: none;
        border-top: 15px solid rgba(200, 200, 255, 1);
        background-image: url(images/img-02.jpg);
    }

    .contacts a {
        margin: 10px;
        font-size: 14px;
    }

    .book-item {
        border-top: 15px solid rgba(200, 200, 255, 1);
        border-right: 15px solid rgba(200, 200, 255, 1);
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin-bottom: 50px;
    }

    [class*="book-img-"] {
        display: flex;
        flex: 0 0 30%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 15px;
    }

    .up-btn {
        display: none;
    }

    .modal-window {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .register-modal {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 100vh;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.95);
    }

    .register-modal .modal-window {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .sign-in-modal .modal-window {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

/* laptop */
@media (min-width: 1024px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .container {
        max-width: 980px;
    }

    .logo a {
        font-size: 32px;
    }

    .auth button {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }

    .cover-container-circle {
        width: 300px;
        height: 300px;    
    }

    .cover-container {
        margin-top: 100px;
        margin-bottom: 100px;
        height: 300px;
    }

    .cover-container p {
        text-align: right;
        padding-left: 200px;
    }

    .cover-container h2 {
        padding-right: 125px;

    }

    .contacts a {
        margin: 10px;
        font-size: 16px;
    }

    [class*="-btn-container"] {
        opacity: 0;
        transition: all 1s;
    }

    .about-image:hover [class*="-btn-container"] {
        opacity: 1;
        transition: all 0.5s;
    }

    .modal-window {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .register-modal {
        position: absolute;
        top: 60px;
        flex: 0 0 100%;
        max-width: 100%;
        height: fit-content;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .sign-in-modal {
        position: absolute;
        top: 60px;
        flex: 0 0 100%;
        max-width: 100%;
        height: fit-content;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
    
    .logo a {
        font-size: 36px;
    }

    
    .about-image {
        display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
    }

}

/* mobile */
@media (max-width: 767px) {
    .mobile-menu {
        display: flex;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .mobile-menu ul {
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        position: absolute;
        top: 80px;
        display: flex;
        width: 40%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(50, 50, 70, 0.8);
        padding: 10px;
        border-left: 5px solid rgba(255, 255, 255, 0.8);
        border-right: 5px solid rgba(255, 255, 255, 0.8);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        transition: all 1s;
    }

    .mobile-menu li {
        display: flex;
        justify-content: center;
        list-style-type: none;
        flex: 0 0 20%;
        max-width: 15%;
        margin: 5px;
    }

    .burger {
        z-index: 2;
        display: flex;
        width: 40px;
        height: 30px;
        position: relative;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        border-left: 2px solid rgba(255, 255, 255, 0.8);
        border-right: 2px solid rgba(255, 255, 255, 0.8);
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        transition: all 1s;
    }

    [class*="burger-layer"] {
        position: absolute;
        top: 13px;
        display: block;
        width: 20px;
        height: 3px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 40%;
        transition: all 1s;
    }

    .burger-layer-1 {
        top: 6px;
    }

    .burger-layer-3 {
        top: 20px;
    }

    #check {
        display: none;
    }

    #check:checked + .burger {
        outline: none;
        background-color: rgba(255, 220, 190, 1);
        box-shadow: 0px 0px 20px 10px rgba(255, 220, 190, 0.6);
        transition: all 0.5s;
    }

    #check:checked + .burger [class*="burger-layer"] {
        background-color: rgb(200, 130, 70);
        transition: all 0.5s;
    }

    #check:checked + .burger .burger-layer-1 {
        transform: rotate(225deg);
        top: 14px;
    }

    #check:checked + .burger .burger-layer-3 {
        transform: rotate(-225deg);
        top: 14px;
    }

    #check:checked + .burger .burger-layer-2 {
        opacity: 0;
    }

    #check:checked + .burger ~ ul {
        visibility: visible;
        opacity: 1;
        transition: all 1s;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #8ca4d4;
    }

    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .container {
        max-width: 100%;
    }

    .header-row {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .auth {
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-between;
        top: -25px;
    }

    .logo a {
        font-size: 24px;
        margin-bottom: 7px;
        margin-top: 10px;
    }

    .cover-container-circle {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 0.6);    
    }

    .cover-container {
        margin-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        text-align: center;
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-right: 7px solid rgba(255, 255, 255, 0.8);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: relative;
    }

    .cover-description {
        display: none;
    }

    .cover-title {
        padding-right: 0;
    }

    .cover-container h2 {
        font-family: 'Cinzel', serif;
        margin-top: 125px;
    }

    .about-container {
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-right: 7px solid rgba(255, 255, 255, 0.8);
    }

    .about-description {
        margin-top: 25px;
    }

    .about-image {
        display: flex;
        height: 50vh;
        border-radius: 0;
        padding: 0;
        background-image: url(images/vintage-keyboard-typewriter-old.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .books-btn-container {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    
    .a-i-second {
        margin-top: 10px;
        background-image: url(images/img-02.jpg);
    }

    .authors-btn-container {
        border-radius: 0;
        width: 100%;
        margin: 0;
    }

    .about-description h2 {
        text-align: center;
    }

    footer {
        margin-top: 0;
        padding-top: 25px;
    }

    .footer {
        height: fit-content;
        padding-bottom: 25px;
        font-size: 10px;
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-right: 7px solid rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
    }

    .footer-container .row {
        flex-direction: column;
        height: fit-content;
    }

    .social-links {
        flex-direction: row;
    }

    .social-icon {
        display: block;
        height: 30px;
        width: 30px;
    }

    .social-links-container {
        flex: 0 0 100%;
        width: 250px;
    }

    .contacts a {
        margin: 15px;
    }

    .book-item {
        border-right: 7px solid rgba(255, 255, 255, 0.8);
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-top-left-radius: 7%;
        border-top-right-radius: 7%;
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 25px;
    }

    [class*="book-img-"] {
        display: flex;
        flex: 0 0 100%;
        max-width: 80%;
        height: 200px;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 15px;
    }

    .book-item:first-child {
        margin-top: 25px;
    }

    .modal-window {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .register-modal {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 100vh;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.95);
    }

    .register-modal .modal-window {
        flex: 0 0 90%;
        max-width: 90%;
    }

    .sign-in-modal {
        position: fixed;
        top: 0px;
        left: 0;
        right: 0;
        height: 100vh;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.95);
    }

    .sign-in-modal .modal-window {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

