/* font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif; */


/* global-formatting */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #121219;
}

.big-cover {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.column-row {
    flex-direction: column;
}

/* HEADER-FORMATTING */
.header {
    background: linear-gradient(to bottom, black 0.5%, rgba(18, 21, 27, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-size: 36px;
    color: #5773ac;
    transition: all 1s;
}

.logo a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.5s;
}

nav {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.menu a {
    flex: 0 0 20%;
    max-width: 20%;
    text-decoration: none;
    font-size: 16px;
    color: #8ca4d4;
    text-align: center;
    transition: all 0.5s;
}

.menu a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.3s;
}

.auth {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.auth button {
    display: block;
    border: 1px solid #8ca4d4;
    border-radius: 25%;
    color: #8ca4d4;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 1s;
}

.auth button:hover {
    color: rgb(200, 130, 70);
    border: 1px solid  rgb(200, 130, 70);
    cursor: pointer;
    transition: all 0.5s;
}

.auth button:focus {
    outline: none;
    background:  rgba(255, 255, 190, 1);
    color: rgb(200, 130, 70);
    border: 1px solid rgb(200, 130, 70);
    box-shadow: 0px 0px 15px 7px rgba(255, 230, 140, 0.6);
    transition: all 0.3s;
}

.mobile-menu {
    display: none;
}

.mobile-auth {
    display: none;
}

/* MAIN-FORMATTING */
/* cover */
.cover {
    background-color: rgba(0, 0, 0, 0.7);
}

.cover-container {
    display: flex;
    position: relative;
    color: white;
}

.cover-container-circle {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background-image: url(images/img-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 0px 100px 30px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: background-color 1.5s, box-shadow 1.5s, background-size 1.5s;

}

.cover-container button {
    border: none;
}

.cover-container button:hover {
    background-color: rgba(255, 255, 190, 1);
    box-shadow: 0px 0px 100px 30px rgba(255, 220, 190, 0.6);
    transition: all 1.5s;
}

.cover-container button:focus{
    outline: none;
    background-size: 75%;
    background-color: rgba(255, 255, 190, 1);
    box-shadow: 0px 0px 100px 60px rgba(255, 230, 140, 0.7);
    transition: all 0.5s;
}

.cover-title {
    display: flex;
    align-items: flex-start;
    font-size: 36px;
    padding-left: 0;
}

.cover-description {
    display:flex;
    align-items: flex-end;
    padding: 10px;
    font-style: italic;
    padding-right: 0;
}

/* about */
.about {
    border-top: 15px solid rgba(255, 255, 255, 0.8) ;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-description {
    color: white;
    margin-top: 50px;
}

.about-description p {
    padding-bottom: 15px;
}

.about-description h2 {
    font-family: 'Cinzel', serif;
    font-size: 32px;
    margin-bottom: 25px;
}

.about-image img {
    flex: 0 0 100%;
    max-width: 100%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

/* FOOTER-FORMATTING */
footer {
    background: linear-gradient(to top, black 0.5%,  rgba(18, 21, 27, 0.5));
    display: flex;
    height: 100px;
    margin-top: 25px;
}

.footer-container .row {
    height: 100%;
    align-items: center;
}

.place {
    color: #8ca4d4;
    font-size: 18px;
    line-height: 20px;
}

.contacts {
    display: flex;
    justify-content: space-evenly;
}

.contacts a {
    text-decoration: none;
    color: #8ca4d4;
    transition: all 0.5s;
}

.contacts a:hover {
    color: rgb(200, 130, 70);
    transition: all 0.3s;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links a {
    flex: 0 0 15%;
    max-width: 15%;
}

.social-icon {
    background-color: #8ca4d4;
    border-radius: 20%;
    transition: all 0.5s;
}

.social-icon:hover {
    background-color: rgb(200, 130, 70);
    box-shadow: 0px 0px 10px 5px rgba(255, 220, 190, 0.6);
    transition: all 0.5s;
}


/* ADAPTIVE */

/* tablet */
@media (min-width: 768px) {

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }

    .col-md-5 {
        flex: 0 0 41.66%;
        max-width: 41.66%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .container {
        max-width: 720px;
    }

    .header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .logo a {
        font-size: 24px;
    }

    .auth button {
        width: 65px;
        height: 40px;
        font-size: 12px;
    }

    .cover-container-circle {
        width: 200px;
        height: 200px;    
    }

    .cover-container {
        margin-top: 50px;
        margin-bottom: 50px;
        height: 200px;
    }

    .cover-container p {
        text-align: right;
        padding: 10px 10px 10px 100px;
        border-right: 15px solid  rgba(255, 255, 255, 0.6);
        border-bottom: 15px solid  rgba(255, 255, 255, 0.6);
        border-top-right-radius: 10%;
        border-bottom-left-radius: 50%;
    }

    .cover-container h2 {
        text-align: start;
        padding: 10px 70px 10px 10px;
        border-left: 15px solid  rgba(255, 255, 255, 0.6);
        border-top: 15px solid  rgba(255, 255, 255, 0.6);
        border-bottom-left-radius: 10%;
        border-top-right-radius: 50%;
    }

    .about-image img {
        margin: auto;
        display: none;
    }

    .about-image {
        background-image: url(images/vintage-keyboard-typewriter-old.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
        border-bottom: 15px solid rgba(200, 200, 255, 1);
    }

    .about-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 15px solid rgba(200, 200, 255, 1);
        border-right: 15px solid rgba(200, 200, 255, 1);
        border-top-right-radius: 10%;
    }

    .a-d-second {
        margin-top: 0;
        padding-top: 15px;
        border-right: none;
        border-bottom: none;
        border-top: 15px solid rgba(200, 200, 255, 1);
        border-left: 15px solid rgba(200, 200, 255, 1);
        border-top-right-radius: 0;
        border-bottom-left-radius: 10%;
    }

    .a-i-second {
        border-bottom: none;
        border-top: 15px solid rgba(200, 200, 255, 1);
        background-image: url(images/img-02.jpg);
    }

    .contacts a {
        margin: 10px;
        font-size: 14px;
    }
}

/* laptop */
@media (min-width: 1024px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .container {
        max-width: 980px;
    }

    .logo a {
        font-size: 32px;
    }

    .auth button {
        width: 100px;
        height: 40px;
        font-size: 18px;
    }

    .cover-container-circle {
        width: 300px;
        height: 300px;    
    }

    .cover-container {
        margin-top: 100px;
        margin-bottom: 100px;
        height: 300px;
    }

    .cover-container p {
        text-align: right;
        padding-left: 200px;
    }

    .cover-container h2 {
        padding-right: 125px;

    }

    .contacts a {
        margin: 10px;
        font-size: 16px;
    }
}

/* desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1150px;
    }
    
    .logo a {
        font-size: 36px;
    }

    
    .about-image {
        display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
    }
}

/* mobile */
@media (max-width: 767px) {
    .col-xs-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .container {
        max-width: 100%;
    }

    .header-row {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .auth {
        display: none;
    }

    .logo a {
        font-size: 24px;
    }

    .cover-container-circle {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 50px 15px rgba(255, 255, 255, 0.6);    
    }

    .cover-container {
        margin-top: 25px;
        padding-bottom: 25px;
        flex-direction: column;
        text-align: center;
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-right: 7px solid rgba(255, 255, 255, 0.8);
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: relative;
    }

    .cover-description {
        position: absolute;
        top: 275px;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 auto;
    }

    .cover-title {
        padding-right: 0;
    }

    .cover-container h2 {
        margin-top: 125px;
        margin-bottom: 115px;
    }

    .about-container {
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        border-left: 7px solid rgba(255, 255, 255, 0.8);
        border-right: 7px solid rgba(255, 255, 255, 0.8);
    }

    .about-description {
        margin-top: 25px;
    }

    .about-image {
        padding: 0;
    }

    .about-image img {
        border-radius: 0;
    }

    .a-i-second {
        padding: 0;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .about-description h2 {
        text-align: center;
    }

    .footer {
        height: fit-content;
        padding-bottom: 25px;
        font-size: 10px;
    }

    .footer-container .row {
        flex-direction: column;
        height: fit-content;
    }

    .social-links {
        flex-direction: row;
    }

    .social-icon {
        display: block;
        height: 30px;
        width: 30px;
    }

    .social-links-container {
        flex: 0 0 100%;
        width: 250px;
    }

    .contacts a {
        margin: 15px;
    }
}

